name: Build

on:
  push:
    branches:
    - '**'
    tags-ignore:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements/dev.txt ]; then pip install -r requirements/dev.txt; fi
    - name: Install compile time dependencies
      run: if [ -f requirements/layer.txt ]; then pip install -r requirements/layer.txt; fi
    - name: Build image
      run: make all
